@font-face{
  font-family:'ITCAvantGardeStd-Bold';
  src:
    url('../fonts/ITCAvantGardeStd-Bold.woff2') format('woff2');
  font-weight:normal;
  font-style:normal;
  font-display :optional;
}
@font-face{
  font-family:'ITCAvantGardeStd-Demi';
  src:
    url('../fonts/ITCAvantGardeStd-Demi.woff2') format('woff2');
  font-weight:normal;
  font-style:normal;
  font-display :optional;
}
@font-face{
  font-family:'ITCAvantGardeStd-Md';
  src:
    url('../fonts/ITCAvantGardeStd-Md.woff2') format('woff2');
  font-weight:normal;
  font-style:normal;
  font-display:optional;
}
@font-face{
  font-family:'ITCAvantGardeStd-Bk';
  src:
    url('../fonts/ITCAvantGardeStd-Bk.woff2') format('woff2');
  font-weight:normal;
  font-style:normal;
  font-display :optional;
}