/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.heading-4 {
  font-size: 21px;
  font-family: ITCAvantGardeStd-Bold,Arial,sans-serif;
  margin-top: 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}



.main-container{
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  padding: 0 15px;
  z-index: 99;
  background: #fff;
}

.header .manual-container {
  padding-left: 0;
  padding-right: 0;
}

.manual-container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.navbar-main {
  margin-top: 10px;
}

.navbar-main__wrapper {
  background: #ffe900;
}

.navbar-main__wrapper {
  display: none;
  background: #fff100;
  padding: 48px 0 0;
  border-radius: 0 0 5px 5px;
}
.navbar-main__wrapper ul {
  padding: 0;
  list-style: none;
}

.navbar-main__wrapper ul li {
  padding: 0 20px;
}
.dropup, .dropdown {
  position: relative;
}
.navbar-main__wrapper ul li {
  padding: 0 20px;
}

.navbar-main a {
  color: #000;
}
.navbar-main__wrapper ul li a {
  display: block;
}
.navbar-main__wrapper .nav-main>a {
  font-size: 1.515rem;
  font-family: ITCAvantGardeStd-Demi,Arial,sans-serif;
  font-weight: 500;
}
.navbar-main__wrapper .nav-main>a, .navbar-main__wrapper .nav-sub>a {
  padding: 10px 0;
  border-top: 1px solid #e5d800;
  text-decoration: none;
}
.navbar-main a:hover {
    text-decoration: none;
}
.navbar-main__wrapper .dropdown>a {
  position: relative;
}
.navbar-main__wrapper .menu-dropdown {
  display: none;
}
.navbar-main__wrapper .menu-dropdown__wrap {
  padding-bottom: 25px;
}
.navbar-main__wrapper ul {
  padding: 0;
}
.navbar-main__wrapper .menu-dropdown ul li {
  padding: 0 0 0 40px;
  line-height: 1.875rem;
}

/* menu versi mobile */
.navbar-main__header {
    background: #fff100;
    height: 55px;
    border-radius: 5px;
}
.navbar-main__header>ul>li {
    list-style: none;
    float: right;
    text-align: center;
    padding: 0 12px;
    min-width: 55px;
    line-height: 3.438rem;
    border-left: 1px solid #f2e500;
    position: relative;
}
.navbar-main__header .btn-menu {
    border: none;
    background: transparent;
    display: inline-block;
    width: 20px;
    height: 15px;
    position: relative;
    vertical-align: middle;
}
.navbar-main__header .btn-menu .line-bar {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    left: 0;
    transition: .2s;
    transition-property: top,-webkit-transform;
    transition-property: top,transform;
}
.navbar-main__header .btn-menu .line-bar__top {
    top: 0;
}
.navbar-main__header .btn-menu .line-bar__mid {
    top: 50%;
    margin-top: -2px;
}
.navbar-main__header .btn-menu .line-bar__bot {
    top: 12px;
}
.navbar-main__header .active .line-bar__top {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.navbar-main__header .active .line-bar__top, .navbar-main__header .active .line-bar__bot {
    top: 52%;
}
.navbar-main__header .active .line-bar {
    transition-delay: 0s,.2s;
}
.navbar-main__header .active .line-bar__mid {
    opacity: 0;
}
.navbar-main__header .btn-menu .line-bar__mid {
    top: 50%;
    margin-top: -2px;
}
.navbar-main__header .active .line-bar__bot {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.static__nav {
  margin-bottom: 40px;
}
.static__nav li:first-child {
  border-top: 1px solid #e6e6e6;
}
.static__nav li {
  padding: 8px 0;
  border-bottom: 1px solid #e6e6e6;
}
.static__nav li a {
  padding: 0 9px;
  display: block;
  position: relative;
}
._main_wrap{
  padding-top: 75px;
}
.masthead__img {
    position: relative;
    height: 200px;
    background-position: center center;
    background-size: cover;
}
.left-corner {
    border-top-left-radius: 30px;
    overflow: hidden;
}
.static__wrapper {
    max-width: 1098px;
    margin: 0 auto 55px;
    position: relative;
}
.header .logo {
    position: absolute;
    left: -12px;
    top: -12px;
    z-index: 11;
}
.header .logo img {
    width: 81px;
    height: 81px;
}
.static__article .main-title {
    font-size: 2.188rem;
    font-family: ITCAvantGardeStd-Bold,Arial,sans-serif;
    margin-bottom: 25px;
}
.static__content p{
  margin-bottom: 25px;
  margin: 0 0 11px;
}

.static__content .btn-download{
  margin-bottom: 20px;
}
.btn-download{
  box-shadow: 4px 4px 0 0 #fff, 4px 4px 0 1px #000;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.static__content .title {
    font-size: 1.5rem;
    font-family: 'ITCAvantGardeStd-Bold',Arial,sans-serif;
    margin: 0 0 24px;
}

.title {
    font-weight: bold;
}
.accordion-container{
  margin-bottom: 20px;
}
.accordion-content {
  display: none;
  padding-left: 20px;
}
.footer {
    background: #000;
    padding: 0 5px 20px;
    color: #999;
    float: left;
    width: 100%;
}
.footer__copyright {
    line-height: 1.5;
    margin-top: 34px;
    font-size: .75rem;
    font-family: 'ITCAvantGardeStd-Demi',Arial,sans-serif;
    color: #929292;
}
.footer__logo {
    text-align: center;
}