@media (min-width: 992px) {
    .header {
        padding: 0 20px;
    }

    .main-container {
        padding: 0 20px;
    }

    .manual-container {
        padding: 0 50px;
    }
    .navbar-main {
        margin-top: 20px;
    }

    .navbar-main__wrapper {
        display: block;
        height: 77px;
        padding: 0 0 0 105px;
        border-radius: 5px;
    }

    .navbar-main__wrapper .navbar-main__left {
        float: left;
    }

    .navbar-main__wrapper > ul {
        margin: 0;
    }

    .navbar-main__wrapper .dropdown {
        position: relative;
    }

    .navbar-main__wrapper > ul > li {
        float: left;
        padding: 0 9px;
        height: 77px;
    }

    .navbar-main__wrapper > ul > li {
        float: left;
        padding: 0 9px;
        height: 77px;
    }

    .navbar-main__wrapper>ul>li:hover {
        background: #ffd313;
    }

    .navbar-main__wrapper .nav-main > a, .navbar-main__wrapper .nav-sub > a {
        padding: 0 0 20px;
        border-top: none;
    }

    .navbar-main__wrapper .nav-sub>a {
        font-family: ITCAvantGardeStd-Md,Arial,sans-serif;
        font-size: 1rem;
    }

    .navbar-main__wrapper > ul > li > a {
        line-height: 5rem;
        padding-bottom: 20px;
    }

    .navbar-main__wrapper .menu-dropdown {
        /* none*/
        display: none;
        padding: 15px 15px 23px;
        background: #fff;
        border: 1px solid #000;
        border-radius: 5px;
        position: absolute;
        left: -15px;
        top: 96px;
        z-index: 10;
        box-shadow: 3px 3px 0 1px #000;
    }
    .navbar-main__wrapper .menu-dropdown__home {
        min-width: 730px !important;
    }

    .main__wrapper .menu-dropdown__wrap {
        float: left;
        min-width: 191px;
        padding-bottom: 0;
    }
    .navbar-main__wrapper .menu-dropdown ul li {
        padding: 0;
    }
    .navbar-main__wrapper .menu-dropdown ul li a {
        padding-left: 15px;
    }
    ._main_wrap{
        padding-top: 117px;
    }
    .left-corner {
        border-top-left-radius: 40px;
    }
    .header .logo {
        top: -20px;
        left: -20px;
    }
    .header .logo img {
        width: 113px;
        height: 113px;
    }
    .static__article .main-title {
        font-size: 3.75rem;
    }
    .static__content .title {
        font-size: 1.875rem;
    }
    .footer {
        padding: 30px 0 0;
        border-top-left-radius: 40px;
        overflow: hidden;
    }
    .footer__copyright {
        font-size: .875rem;
        text-align: center;
        border-top: 1px solid #333;
        margin-top: 22px;
        padding: 25px 0 17px;
    }
    .footer__logo {
        width: 150px;
    }
}

@media (min-width: 768px) {
    .main-container {
       padding: 0 20px;
    }
    .manual-container {
       padding: 0 50px; 
    }
    .masthead__img {
        height: auto;
    }
    .static__wrapper {
        margin-bottom: 75px;
    }
}

@media (max-width: 768px) {
    .visible-xs {
        display: block !important;
    }
}